html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

header[role=banner] {
  width: 82.97872%;
  float: left;
  margin-right: -100%;
  margin-left: 8.51064%;
  clear: none;
}

main[role=main] {
  width: 65.95745%;
  float: left;
  margin-right: -100%;
  margin-left: 8.51064%;
  clear: none;
}
