html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

.aurora-sample-layout:after {
  content: "";
  display: table;
  clear: both;
}

main .aurora-section-first {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 180px;
  clear: both;
}
@media (min-width: 760px) {
  main .aurora-section-first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    height: 180px;
  }
}
@media (min-width: 1000px) {
  main .aurora-section-first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    height: 360px;
  }
}
@media (min-width: 1100px) {
  main .aurora-section-first {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0;
    height: 360px;
    clear: both;
  }
}

main .aurora-section-second {
  width: 64.28571%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: both;
}
@media (min-width: 760px) {
  main .aurora-section-second {
    width: 65.51724%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
}
@media (min-width: 1000px) {
  main .aurora-section-second {
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
}
@media (min-width: 1100px) {
  main .aurora-section-second {
    width: 65.95745%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.12766%;
    clear: both;
  }
}

main .aurora-section-third {
  width: 28.57143%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 760px) {
  main .aurora-section-third {
    width: 31.03448%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1000px) {
  main .aurora-section-third {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 1100px) {
  main .aurora-section-third {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.aurora-section-first {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.25)), url("../img/benamercom-header.jpg");
  text-align: right;
  color: white;
}

div .pane-blockify-blockify-site-slogan {
  margin-top: 18px;
}

h1#site-title {
  font-family: 'Lobster Two';
  font-weight: 700;
  text-align: right;
  margin-top: -.125em;
  margin-right: 1em;
  font-size: 2em;
}
@media (min-width: 760px) {
  h1#site-title {
    text-align: center;
    font-size: 3em;
  }
}
@media (min-width: 1000px) {
  h1#site-title {
    text-align: center;
    font-size: 3em;
  }
}
@media (min-width: 1100px) {
  h1#site-title {
    text-align: center;
    font-size: 3em;
  }
}

ul li.first.leaf {
  float: left;
  border-right: 1px solid #e2e2e2;
  font-size: .35em;
}
@media (min-width: 760px) {
  ul li.first.leaf {
    font-size: .85em;
  }
}
@media (min-width: 1000px) {
  ul li.first.leaf {
    font-size: .85em;
  }
}
@media (min-width: 1100px) {
  ul li.first.leaf {
    font-size: 1.5em;
  }
}

ul li.leaf {
  float: left;
  border-right: 1px solid #e2e2e2;
  font-size: .35em;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 760px) {
  ul li.leaf {
    font-size: .85em;
  }
}
@media (min-width: 1000px) {
  ul li.leaf {
    font-size: .85em;
  }
}
@media (min-width: 1100px) {
  ul li.leaf {
    font-size: 1.5em;
  }
}

ul li.last.leaf {
  float: left;
  border-right: 0px;
  font-size: .35em;
}
@media (min-width: 760px) {
  ul li.last.leaf {
    font-size: .85em;
  }
}
@media (min-width: 1000px) {
  ul li.last.leaf {
    font-size: .85em;
  }
}
@media (min-width: 1100px) {
  ul li.last.leaf {
    font-size: 1.5em;
  }
}

.panel-pane.pane-block.pane-system-main-menu {
  margin-top: -2em;
  margin-left: -2em;
}
@media (min-width: 760px) {
  .panel-pane.pane-block.pane-system-main-menu {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: -3.25em;
    margin-left: -3em;
    font-size: 1.15em;
  }
}
@media (min-width: 1000px) {
  .panel-pane.pane-block.pane-system-main-menu {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    width: 80%;
    margin-top: -4.5em;
    font-size: 1.15em;
  }
}
@media (min-width: 1100px) {
  .panel-pane.pane-block.pane-system-main-menu {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    font-size: 1.15em;
    margin-top: -5.5em;
  }
}

ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  list-style-type: none;
}

ul li.first.leaf a:link, a:visited {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
}

ul li.leaf a:link, a:visited {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
}

ul li.last.leaf a:link, a:visited {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  font-family: 'Open Sans';
  font-weight: 800;
}
