html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

.aurora-sample-layout:after {
  content: "";
  display: table;
  clear: both;
}

.aurora-section-first {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.aurora-section-second {
  background: rgba(255, 255, 0, 0.5);
  width: 66.10169%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 1.69492%;
  clear: both;
}

.aurora-section-third {
  background: rgba(0, 0, 255, 0.3);
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
