  // article pages layout styles
  // body.page-node

  body.page-node aurora-article-layout {
    @include clearfix;
  }

  div#article > section.aurora-article-section:first-child {
    height: 180px;
    margin-top: -1.5em;
    width:100%;
    clear:left;
    @include breakpoint($tablet) {
      @include grid-span(6, 1);
      height: 180px;
      margin-top: inherit;
    }

    @include breakpoint($desktop) {
      @include grid-span(12, 1, $output-style: 'float');
      height: 360px;
      margin-top: inherit;
      float:left;
      width:100%;
    }
  }

  body.page-node main section.aurora-article-section.aurora-section-second {
    @include add-gutter-style('split');
    clear: left;
    @include breakpoint($tablet) {
      @include grid-span(2, 1, $output-style: 'float');
      clear: left;
    }
    @include breakpoint($desktop) {
      @include grid-span(3, 1, $output-style: 'float');
      height: 360px;
      clear: left;
      margin-top: inherit;
    }

  }
  body.page-node main section.aurora-article-section.aurora-section-third {
    @include add-gutter-style('split');
    clear: left;
    @include breakpoint($tablet) {
      @include grid-span(4, 2);
      clear: left;
    }
    @include breakpoint($desktop) {
      @include grid-span(8, 4, $output-style: 'float');
      clear: none;
      margin-top: inherit;
    }
  }

  .addthis_toolbox.addthis_default_style.addthis_32x32_style {
    margin-top: 2em;
  }
  .panel-pane.pane-token.pane-node-created {
    margin-top: 1em;
  }

  .panel-pane.pane-block.pane-addthis-addthis-block {
    margin-top: 1.75em;
  }