////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////

$tablet-p: 500px;
$tablet-l: 700px;
$desktop: 1100px;

@include add-grid(3); // mobile
@include add-grid(6 at $tablet-p); // tablet portrait
@include add-grid(12 at $tablet-l); // tablet landscape
@include add-grid(12 at $desktop); // desktop

@include add-gutter(.25);
@include add-gutter(1/3 at $desktop);

.aurora-sample-layout {
  @include clearfix;
}

.aurora-section-first {


  @include breakpoint($desktop) {
    @include grid-span(12, 1);
  }

}

.aurora-section-second {
  background: rgba(yellow, .5);
  @include grid-span(2, 1);

  @include breakpoint($tablet-p) {
    @include grid-span(4, 1);
  }
  @include breakpoint($tablet-l) {
    @include grid-span(9, 1);
  }

  @include breakpoint($desktop) {
    @include grid-span(8, 1, $output-style: 'float');
  }
  clear: both;
}

.aurora-section-third {
  background: rgba(blue, .3);

  @include grid-span(1, 3);
  @include breakpoint($tablet-p) {
    @include grid-span(2, 5);
  }
  @include breakpoint($tablet-l) {
    @include grid-span(3, 10);
  }

  @include breakpoint($desktop) {
    @include grid-span(4, 9);
  }
}