////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

h1 {
  font-size: 3em;
}

.aurora-section-first {
  background-image: url("../img/benamercom-header.jpg");
  text-align: right;
  color: white;
}
// test
div .pane-blockify-blockify-site-slogan {
  margin-top:18px;
}

h1#site-title {
  font-family: 'Lobster Two';
  font-weight: 700;
  text-align: center;
  margin-top: -.125em;
}

ul li.first.leaf {
  float: left;
  border-right: 1px solid #e2e2e2;
  font-size: 1.25em;
}

ul li.leaf {
  float: left;
  border-right: 1px solid #e2e2e2;
  font-size: 1.25em;
  padding-right: 15px;
  padding-left: 15px;
}

ul li.last.leaf {
  float: left;
  border-right: 0px;
  font-size: 1.25em;
}

.panel-pane.pane-block.pane-system-main-menu {
  margin-top: -5em;
}

ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  list-style-type: none;
}

ul li.first.leaf a:link, ul li.last.leaf a:visited {
  color:whitesmoke;
  text-decoration:none;
}
ul li.leaf a:link, ul li.last.leaf a:visited {
  color:whitesmoke;
  text-decoration:none;
}

ul li.last.leaf a:link, ul li.last.leaf a:visited {
  color:whitesmoke;
  text-decoration:none;
}

h2{
  font-family: 'Open Sans'; font-weight: 800;
}


