////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////


.aurora-section-first {
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../img/benamercom-header.jpg");
  text-align: right;
  color: white;
}
// test
div .pane-blockify-blockify-site-slogan {
  margin-top:18px;
}

h1#site-title a:link, a:visited{
  // mobile first
  font-family: 'Lobster Two';
  font-weight: 700;
  text-align: right;
  margin-top: -.125em;
  margin-right: 1em;
  font-size: 2em;
  text-decoration: none;
  color: white;

  @include breakpoint($tablet) {
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    color: white;
  }
  @include breakpoint($desktop) {
    text-align: center;
    font-size: 3em;
    letter-spacing: .125em;
    text-decoration: none;
    color: white;
  }
}


ul li.first.leaf {
  float: left;
  border-right: 1px solid #e2e2e2;
  font-size: .35em;
  @include breakpoint($tablet) {
    font-size: 1em;
  }
  @include breakpoint($desktop) {
    font-size: 1em;
  }
}

ul li.leaf {
  float: left;
  border-right: 1px solid #e2e2e2;
  font-size: .35em;
  padding-right: 15px;
  padding-left: 15px;

  @include breakpoint($tablet) {
    font-size: 1em;
  }
  @include breakpoint($desktop) {
    font-size: 1em;
  }
}

ul li.last.leaf {
  float: left;
  border-right: 0px;
  font-size: .35em;
  @include breakpoint($tablet) {
    font-size: 1em;
  }
  @include breakpoint($desktop) {
    font-size: 1em;
  }
}

.panel-pane.pane-block.pane-system-main-menu {
  // mobile first
  margin-top: -2em;
  margin-left: -2em;

  @include breakpoint($tablet) {
    @include grid-span(6, 1);
    margin-top: -3.25em;
    margin-left: -3em;
    font-size: 1.15em;
  }

  @include breakpoint($desktop) {
    @include grid-span(12, 1);
    clear: both;
    font-size: 1.15em;
    margin-top: -5.25em;
  }
}

ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  list-style-type: none;
}

ul li.first.leaf a:link, a:visited {
  color:darkgray;
  text-decoration:none;
  text-transform: uppercase;
}
ul li.leaf a:link, a:visited {
  color:darkgray;
  text-decoration:none;
  text-transform: uppercase;
}

ul li.last.leaf a:link, a:visited {
  color:darkgray;
  text-decoration:none;
  text-transform: uppercase;
}

h2{
  font-family: 'Open Sans'; font-weight: 800;
}


.panel-pane.pane-block.pane-block-2 {
  // mobile first
  color: darkgrey;
  margin-top: -5em;
  margin-right: 1em;

  @include breakpoint($tablet) {
    @include grid-span(6, 1);

  }

  @include breakpoint($desktop) {
    @include grid-span(12, 1);
    color: darkgrey;
    margin-top: -5em;
    margin-right: 1.75em;
  }
}